* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'chivo mono';
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./imagens/bg.jpg);
    background-color: #00000079;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

ul {
    position: fixed;
    top: 50px;
    left: 20px;
    margin-top: 60px;
}

.portifolio {
    color: #ffff;
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 40vw;
}

.portifolio span {
    color: rgb(199, 195, 206);
}


li {
    color: white(255, 255, 255);
    list-style: none;
    display: flex;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.link-menu {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 60px;
}

.link-email {
    background-color: #260fef;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.meu-nome {
    position: absolute;
    top: 40%;
    left: 37%;
}

.link-menu:hover {
    color: rgb(7, 53, 217);
    transition: 0.5s;
}

h1 {
    color: white;
    font-size: 75px;
}

h3 span {
    color: rgb(128, 138, 177);
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #0c0c0c;
}

section img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 1px solid #0f0f0f;
    margin-right: 30px;
}

section div h2 {
    color: #f5eef1;
    font-size: 30px;
}

section div p {
    color: #e2b9c6;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.card-projetos {
    background-color: #000000;
    display: flex;
    padding-top: 50px;
    padding-left: 145px;
    padding-right: 60px;
    justify-content: space-around;
}

.projetos h2 {
    color: white;
    font-size: 75px;
    text-align: center;
    background-color: #000000;
}

.card {
    background-color: #110f0f;
    justify-content: center;
    color: #151313;
    height: 365px;
    width: 325px;
    border-radius: 20px;
    padding: 30px 35px;
    text-align: center;
}

.card img {
    height: 100px;
}

.card h5 {
    color: white;
    font-size: 25px;
}

.card p {
    color: #cf0b0b;
    margin-top: 20px;
    margin-bottom: 40px;
}



 .card a {
    background-color: #2b12d3;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #291dceeb;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: white;
    font-size: 30px;
}

footer p {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 14px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 24px;
    border-radius: 50%;
}

.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

@media screen and (max-width: 971px) and (orientation: portrait)
{
    .caixa-principal {
        background-image: url(./imagens/bg.jpg);
        background-color: #00000079;
    }
    .meu-nome h1 {
        color: white;
        font-size: 34px;
        
    }

    ul {
        
        color: #ffff;    
        display: inline-flex;
        margin-top: 1px;
    }
    .card-projetos {
        background-color: #000000;
        display: flex;
        padding-top: 25px;
        padding-left: 80px;
        padding-right: 30px;
        justify-content: space-around;
    }
    
    .projetos h2 {
        color: white;
        font-size: 35px;
        text-align: center;
        background-color: #000000;
    }
    

    .card img {
        height: 45px;
    }
    
    .card h5 {
        color: white;
        font-size: 5px;
    }
    
    .card p {
        color: #cf0b0b;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    
    
     .card a {
        background-color: #2b12d3;
        color: white;
        padding: 5px 10px;
        border-radius: 25px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .card a:hover {
        background-color: transparent;
        border: 2px solid #291dceeb;
        justify-content: space-around;
        align-items: center;
    }

    .portifolio {
        color: #ffff;
        font-size: 30px;
        font-weight: 300;
        margin-top: 140px;
        margin-left: 20vw;
    }
    
    .portifolio span {
        color: rgb(199, 195, 206);
        text-align: center;
    }
    
    
    li {
        color: white(255, 255, 255);
        list-style: none;
        display: flex;
        font-size: 25px;
        margin-right: 30px;
        cursor: pointer;
    }
    
    .link-menu {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 60px;
    }
    
    .link-email {
        background-color: #260fef;
        color: white;
        padding: 30px 50px;
        border-radius: 45px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .meu-nome {
        position: center;
        top: 40%;
        left: 37%;
    }
    
    .link-menu:hover {
        color: rgb(7, 53, 217);
        transition: 0.5s;
    }
    
    h1 {
        color: white;
        font-size: 75px;
    }
    
    h3 span {
        color: rgb(128, 138, 177);
    }
    
    .meu-nome h3 {
        color: white;
        font-size: 15px;
    }
    
    section {
        display: flex;
        align-items: center;
        padding: 60px 15%;
        background-color: #0c0c0c;
    }
    
    section img {
        height: 01px;
        border-radius: 100%;
        border: 1px solid #0f0f0f;
        margin-right: 30px;
    }
    
    section div p {
        color: #e2b9c6;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}